<div class="pa1">
    <div style="overflow-x:auto;">
      <table>
        <tr>
          <th>Question</th>
          <th>Category</th>
          <th>Toughness</th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>
        <tr>
          <td>How do you classify the animals ?</td>
          <td>Smith</td>
          <td>50</td>
          <td>50</td>
          <td>50</td>
        </tr>
        <tr>
          <td>Eve</td>
          <td>Jackson</td>
          <td>94</td>
          <td>94</td>
          <td>94</td>
  
        </tr>
        <tr>
          <td>Adam</td>
          <td>Johnson</td>
          <td>67</td>
          <td>67</td>
          <td>67</td>
  
        </tr>
      </table>
    </div>
  