There are still some questions left:-
<ul>
  <li>What is a :host and how do we style entire components in Angular</li>
  <li>How do we access the body and document from inside a component</li>
  <li>What is the best way to pdate the title in the header of a web app.</li>
</ul>

<div class="pa1">
  <div style="overflow-x:auto;">
    <table>
      <tr>
        <th>Question</th>
        <th>Category</th>
        <th>Toughness</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
      <tr>
        <td>How do you classify the animals ?</td>
        <td>Smith</td>
        <td>50</td>
        <td>50</td>
        <td>50</td>
      </tr>
      <tr>
        <td>Eve</td>
        <td>Jackson</td>
        <td>94</td>
        <td>94</td>
        <td>94</td>

      </tr>
      <tr>
        <td>Adam</td>
        <td>Johnson</td>
        <td>67</td>
        <td>67</td>
        <td>67</td>

      </tr>
    </table>
  </div>
